<div class="card-group">
    <div class="card card-info">
        <div class="card-block">
            <h4 class="text-xs-center">Name</h4>
        </div>
    </div>
    <div class="card card-info">
        <div class="card-block">
            <h4 class="text-xs-center">Price</h4>
        </div>
    </div>
</div>
<div *ngFor="let product of filtProductList">
    <productCategoryRow
        [category]="product.category"
        [hidden]="!isNewCategory(product.category, product)"
    ></productCategoryRow>

    <productRow
        [product]="product"
    ></productRow>
</div>
