<article>
    <header class="hero-unit" id="banner">
        <div class="container">
            <h1>Ember JS Components Demo</h1>
            <p>Use Ember's components to build a product list.</p>
        </div>
    </header>
</article>