<div class="col-xs-4 col-xs-offset-4">
    <div class="panel panel-primary">
        <div class="panel-heading">
          {{search-bar}}
        </div>
        <div class="panel-body">
          {{product-table}}
        </div>
    </div>
</div>
