<div class="list-group-item">
    <table class="table">
        <tr>
            <td style="text-align:center">{{name}}</td>
            <td style="text-align:center">{{price}}</td>
        </tr>
    </table>
</div>

{{yield}}
