<form>
    <input
            type="text"
            class="form-control"
            placeholder="Search..."
    >
    <div class="checkbox">
        <label>
            <input
                    type="checkbox"
            >
            Only show product in stock
        </label>
    </div>
</form>

