<form>
    <input
        type="text"
        class="form-control"
        placeholder="Search..."
        name="searchText"
        [(ngModel)]="searchText"
        (keyup)="onSearchTextChange()"
    />
    <label class="custom-control custom-checkbox">
        <input
            type="checkbox"
            #checkbox
            class="custom-control-input"
            name="inStockOnly"
            [(ngModel)]="inStockOnly"
            (change)="onInStockOnlyChange(checkbox)"
        />
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Only show products in stock</span>
    </label>
</form>
